<%- include('./layouts/header')%>

<link rel="stylesheet" href="/css/style.css">
<img class="logo" src="/assets/nodejs.png" alt="">
<h1 class="text-color">Ready to use</h1>
<p class="info"> Simple <strong>Node.js</strong> boilerplate :</p>
<ul>
    <li><strong>Express</strong> :You know already, express is the backbone of node.js</li>
    <li><strong>Ejs</strong>     :Most esiest template engine (already stetup as default)</li>
    <li><strong>Nodemon</strong> :An essential middlewere for autostart your app (cmd : npm start)</li>
    <li><strong>Public</strong>  :Server html and css statically (app.js)</li>
</ul>
<%- include('./lapadding: 20px;youts/footer')%>