body{
    margin: 0;
    padding: 0;
    font-family: sans-serif
}
.logo{
    width: 120px;
    height: 120px;
    margin-left:560px
}
.text-color {
    text-align: center;
    color: green
}
.info{
margin: 20px;
color : teal;
font-size: 18px
}

ul li {
    color: gray
}