body{
    margin: 40px;
    padding: 0;
    font-family: sans-serif
}
.logo{
    width: 120px;
    height: 120px;
    margin-left:530px
}
.text-color {
    text-align: center;
    color: green
}
.info{

color : teal;
font-size: 18px
}

ul li {
    color: gray
}
